<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>failLogin</title>
</head>
<body>
    <div>
        <h1 id="failLogin">Datos Incorrectos</h1>
    </div>
    <script>        
        setTimeout(() => {
            location.href = '/login'
        }, 1000)
    </script>
</body>
</html>