<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
  </head>
  <body>
    <div>
      <div>
        <h1>REGISTER</h1>
        <br />
        <form role="form" action="/register" method="post" autocomplete="off">
          <div>
            <input
              name="username"
              placeholder="user@mail.com"
              class="form-control"
              type="text"
              required
            />
          </div>
          <div>
            <input
              name="password"
              placeholder="Password"
              class="form-control"
              type="password"
              required
            />
          </div>
          <div>
            <input
              name="passwordConfirm"
              placeholder="Password confirmation"
              class="form-control"
              type="password"
              required
            />
          </div>

          <br />

          <div>
            <input
              name="name"
              placeholder="firstname"
              class="form-control"
              type="text"
              required
            />
          </div>

          <div>
            <input
              name="address"
              placeholder="name-street 123"
              class="form-control"
              type="text"
              required
            />
          </div>

          <div>
            <input
              name="cellphone"
              placeholder="123456789"
              class="form-control"
              type="number"
              required
            />
          </div>

          <div>
            <input
              name="age"
              placeholder="25"
              class="form-control"
              type="number"
              required
            />
          </div>
          <br />
          <!--             <div>
              <input type="file" name="myFile">
              <input type="submit" value="Subir">
            </div> -->

          <div>
            <input type="submit" value="Singup" />
            <hr />
            <button id="toLogin" onclick="goLogin()">go Login</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      function redireccionar(pagina) {
        location.href = pagina;
      }
      function goLogin() {
        redireccionar("/login");
      }
    </script>
  </body>
</html>
